* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Tahoma', sans-serif;
	color: #666;
	background: #f9f9f9;
	line-height: 1.6em;
}

#container {
	width: 60%;
	margin: 30px auto;
	overflow: auto;
}

#container h1 {
	text-align: center;
	margin-bottom: 20px;
}

#container .title {
	background: #27ae60;
	color: #fff;
	text-align: center;
}

#container .title h3 {
	padding: 14px 4px;
}

#container ul, li {
	list-style: none;
}

#container ul.faq li {
	padding: 20px;
}

#container ul.faq li.q {
	background: #eee;
	font-weight: bold;
	font-size: 120%;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

#container ul.faq li.a {
	background: #ddd;
	display: none;
}

@media (max-width: 800px) {
	#container {
		width: 90%;
	}
}